name: opencode

on:
  pull_request_review:
    types: [submitted]
  issues:
    types: [opened, edited, assigned]
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

jobs:
  opencode:
    if: |
      contains(github.event.comment.body, ' /oc') ||
      startsWith(github.event.comment.body, '/oc') ||
      contains(github.event.comment.body, ' /opencode') ||
      startsWith(github.event.comment.body, '/opencode') ||
      (github.event_name == 'issue_comment' && contains(github.event.comment.body, '@opencode')) ||
      (github.event_name == 'pull_request_review_comment' && contains(github.event.comment.body, '@opencode')) ||
      (github.event_name == 'pull_request_review' && contains(github.event.review.body, '@opencode')) ||
      (github.event_name == 'issues' && (contains(github.event.issue.body, '@opencode') || contains(github.event.issue.title, '@opencode')))
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      issues: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Run opencode
        uses: anomalyco/opencode/github@latest
        env:
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
        with:
          model: anthropic/opencode-opus-4-6
